@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.Form {
  margin-left: 15px;

  input {
    border-radius: 5px;
    border: 2px rgb(155, 152, 152) solid;
    padding: 7px 5px;
    margin-right: 10px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(79, 81, 83);
    width: 200px;
  }
  
  button {
    border-radius: 5px;
    padding: 7px 10px;
    font-family: 'Fjalla One', sans-serif;
    background-color:rgba(0, 204, 255, 0.247);
    color: rgb(77, 76, 76);
    border: 2px solid rgb(86, 87, 87);
  }
}

